body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


#head{
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cadetblue;
}

h1{
    align-items: center;
    font-style:italic;
    font-size: 100px;
    
}

img{
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    border: 2px solid grey;
}

.cardholder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    margin: 60px;
}

.cards{
    padding: 35px;
    gap: 35px;
    border: 2px solid black;
    text-align: center;
}

h2{
    text-align: center;
}

.input{
    height: 30px;
    margin-right: 20px;
    text-align: center;
    font-size: 20px;
}


button{
    height: 35px;
    background-color: skyblue;
    color: black;
}

.club{
    display: flex;
    justify-content:space-around;
    padding-top: 2vh;
}